{% extends "layout.html" %}
{% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col-xl-9">
        <div class="content">
          <div class="row">
            <h1 class="card-title m-0">Home</h1>
          </div>
          <hr />
        </div>
        <div class="row">

          <div class="col-6">
            <div class="card">
              <h2 class="text-primary text-center content-title m-0">Vaccines</h3>
              <a class="stretched-link" href="vaccines"></a>
            </div>
          </div>

          <div class="col-6">
            <div class="card">
              <h2 class="text-primary text-center content-title m-0">Math Practice</h3>
              <a class="stretched-link" href="math-practice"></a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xl-3">
        <div class="content">
          <h1 class="card-title m-0">Announcements</h1>
          <hr />
          <div class="fake-content">
            
          </div>
          <div class="fake-content">
          
</div>
          <div class="fake-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}