<!-- 
  We are using Halfmoon as our CSS framework
  https://www.gethalfmoon.com
  - Andre (senoe)
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="viewport" content="width=device-width" />

	<title>COVID Assist</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.1.1/css/halfmoon-variables.min.css" integrity="sha512-lMs4YSTMNB+xexEzimOkuruKEzyVZl4ZOp1iqjlNQDiW0anM1/SrR6OHnAQM0WwjozjBXz63JRxORWm6OI1ZLw=="
	 crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
	 crossorigin="anonymous" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=6">
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars">

	<!-- Page wrapper start -->
	<div id="page-wrapper" class="page-wrapper with-navbar with-sidebar" data-sidebar-type="overlayed-sm-and-down">

		<!-- Sticky alerts -->
		<div class="sticky-alerts"></div>

		<!-- Navbar start -->
		<nav class="navbar">
			<div class="navbar-content">
				<button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <a href="../../" class="navbar-brand ml-10 ml-sm-20">
                <span class="d-none d-sm-flex">COVID Assist Family Resources</span>
            </a>
            <div class="navbar-content ml-auto">
                <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                    <i class="far fa-moon" aria-hidden="true"></i>
                    <span class="sr-only">Toggle theme</span>
                </button>
            </div>
        </nav>
        <!-- Navbar end -->

        <!-- Sidebar overlay -->
        <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

        <!-- Sidebar start -->
        <div class="sidebar">
          <div class="sidebar-menu">
            <h5 class="sidebar-title">Main</h5>
            <div class="sidebar-divider"></div>
            <a href="../" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fas fa-home" aria-hidden="true"></i>
                </span>
                Home
            </a>
            <a href="../vaccines" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fas fa-syringe" aria-hidden="true"></i>
                </span>
                Vaccine Search
            </a>
            <a href="../math-practice" class="sidebar-link sidebar-link-with-icon">
                <span class="sidebar-icon">
                    <i class="fas fa-calculator" aria-hidden="true"></i>
                </span>
                Math Practice
            </a>
          </div>
        </div>
        <!-- Sidebar end -->

    <!-- Content wrapper start -->
    {% block content %}{% endblock %}
    <!-- Content wrapper end -->
  </div>
  <!-- Page wrapper end -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.1.1/js/halfmoon.min.js" integrity="sha512-8fN/MQrHBCMmkx2t4QwGODGHwQf8VxCeNwNkJz0gjt5JrlUfJ5zNlMr9lrzhnl7DSN+5E16YmMHnfomnQmvSoA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  {% block footer %}{% endblock %}
</body>
</html>