{% extends "layout.html" %}
{% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col-xl-9">
        <div class="content">
          <div class="row">
            <h1 class="card-title m-0">Math Home</h1>
          </div>
          <hr />
        </div>
        <div class="row">

          <div class="col-6">
            <div class="card">
              <h2 class="text-primary text-center content-title m-0">Arithmetic</h3>
              <a class="stretched-link" href="math-practice?type=arithmetic"></a>
            </div>
          </div>

          <div class="col-6">
            <div class="card">
              <h2 class="text-primary text-center content-title m-0">Factoring</h3>
              <a class="stretched-link" href="math-practice?type=factoring"></a>
            </div>
          </div>

          <div class="col-6">
            <div class="card">
              <h2 class="text-primary text-center content-title m-0">Solving Equations</h3>
              <a class="stretched-link" href="math-practice?type=solving-equations"></a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xl-3">
        <div class="content">
          <h1 class="card-title m-0">Information about our Math Practice</h1>
          <hr />
          You can practice either arithmetic, factoring, or some algebra. The arithmetic problems are given to you based on difficulty, which increases as you get more problems correct. Even if you decide to leave the page, your difficulty will be saved. To reset your difficulty, clear your cookies. The factoring problems are also random, but not based on difficulty. The algebra problems are not random but preset, so you may see repeats. 
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}