{% extends "layout.html" %}
{% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col-xl-9">
        <div class="content">
          <div class="row">
            <h1 class="card-title m-0">Vaccine Search</h1>
          </div>
          <hr />
        </div>
        <div class="card">
          <h2 class="card-title">Search by location</h2>
            <div class="input-group">
              <input id="city" type="text" class="form-control" placeholder="Enter a city" required>
              <div class="input-group-append">
                <select id="state" class="form-control" required>
                  <option selected>Select a state</option>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="search">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
        </div>

        <div class="card d-none" id="data">
        Loading data, please wait...
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<script src="{{ url_for('static', filename='js/vaccines.js') }}"></script>
{% endblock %}